# Node
node_modules/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled CSS
public/css/app.css
public/build/
public/hot

# Laravel
.env
storage/logs/*.log
bootstrap/cache/*.php
.env.example

.DS_Store
.vscode/
.idea/