@import "tailwindcss";

body {
	font-family: "Arial", Helvetica, sans-serif;
	padding: 20px;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url("/images/bg.png");
}

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";
